@import 'base/variables';
@import 'base/mixins';
@import 'libs/reset.min';
@import 'libs/fonts';

@import 'blocks/header';
@import 'blocks/buttons';

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}