@import 'base/variables';
@import 'base/mixins';
@import 'libs/reset.min';
@import 'libs/fonts';
@import 'libs/animate';

@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/advantages';
@import 'blocks/subtitle';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/text';
@import 'blocks/round';
@import 'blocks/price';
@import 'blocks/divider';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/managers';
@import 'blocks/schema';
@import 'blocks/comments';
@import 'blocks/questions';
@import 'blocks/map';
@import 'blocks/phone';
@import 'blocks/footer';
@import 'blocks/arrow';

@import 'base/media';
@import 'base/animations';


* {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}