.comments {
    padding: 51px 0 65px 0;
    min-height: 560px;
    &__slider {
        width: 100%;
        margin-top: 31px;
        
    }
    &__inner {
        width: 80%;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        transition: 0.3s all;
        transform-style: preserve-3d;
        perspective: 500px;
    }
    &__nav {
        display: flex;
        max-width: 225px;
        margin: 0 auto;
        align-items: center;
    }
    &__arrow {
        max-height: 46px;
        display: none;
        cursor: pointer;
    }
    &__item {
        position: absolute;
        max-width: 33%;
        left: 50%;
        transform: translate3d(-50%, 0 , 0);
        opacity: 0.5;
        transition: 1s all;
        &_left {
            transform: translate3d(-175%,0, -200px);
        }
        &_main {
            opacity: 1;
            transform: none;
            transform: translate3d(-50% ,0,0);
            .comments__arrow {
                display: block;
            }
        }
        &_right {
            transform: translate3d(75%, 0, -200px);
        }
    }

    &__img {
        max-width: 114px;
        display: block;
        margin: 0 auto;
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-top: 19px;
    }
    &__text {
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
        line-height: 22.01px;
        text-align: center;
        margin-top: 15px;
    }
}