.footer {
    background-color: #25333c;
    padding: 24px 0 28px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__offer {
        display: flex;
        align-items: center;
        span {
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            text-align: left;
        }
    }
    &__logo {
        display: block;
        margin-right: 43px;
        max-height: 71px;
    }
    &__info {
        text-align: center;
    }
    &__rights {
        color: rgba(255,255,255,0.6);
        font-size: 13px;
        font-weight: 300;
        line-height: 17px;
        text-align: center;
    }
    &__politic {
        color: $main-color;
        font-size: 13px;
        font-weight: 300;
        line-height: 17px;
        text-align: center;
        text-decoration: underline;
        &:hover {
            color: $main-color;
        }
    }
}