.feed-form {
    padding: 68px 0 53px 0;
    border: 1px solid rgba(0, 0, 0, 0.21);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
    position: relative;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 72%;
        input {
            width: 33%;
            border: 1px solid rgba(0, 0, 0, 0.21);
            background-color: #ffffff;
            border-radius: 25px;
            padding: 18px  28px;
            color: #101010;
            font-size: 13px;
            font-weight: 300;
            margin: 0 3px;
            transition: 0.3s all;
            &:focus {
                outline: none;
            }
            &:invalid:focus {
                border: 1px solid red;
            }
            &:valid {
                border: 1px solid green;
            }
        }
    }
    &__textarea {
        width: 72%;
        height: 71px;
        border: 1px solid rgba(0, 0, 0, 0.21);
        background-color: #ffffff;
        border-radius: 25px;
        padding: 18px  28px;
        color: #101010;
        font-size: 13px;
        font-weight: 300;
        margin: 0 3px;
        &:focus {
            outline: none;
        }
        &:invalid:focus {
            border: 1px solid red;
        }
        &:valid {
            border: 1px solid green;
        }
    }
    &__title {
        background-color: #25333c;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        color: #ffffff;
        font-size: 19px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        span {
            display: block;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
        }
    }
    &__round {
        position: absolute;
        top: -30%;
        background-color: #fff;
        padding: 0 10px;
    }
    &__button {
        position: absolute;
        bottom: -13%;
        background-color: #fff;
        padding: 0 10px;
    }
}