.header {
    padding: 23px 0 81px 0;
    background: url('../../img/main-bg.png') center (center / cover) no-repeat;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        img {
            max-width: 96px;
        }
    }
    &__menu {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        margin-bottom: 0px;
        padding-left: 0px;
    }
    &__burger {
        display: none;
    }
    &__item {
        border-right: 1px dotted #fff;
        padding: 0 16px;
        &:last-child {
            border: none;
        }
    }
    &__link {
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        padding-bottom: 5px;
        transition: 0.3s all;
        &:hover {
            color:$main-color;
            text-decoration: none;
            border-bottom: 1px solid $main-color;
        }
    }
    &__header {
        color: #ffffff;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        margin-top: 9px;
        margin-bottom: 0px;
    }
    &__subheader {
        color: #ec644b;
        @include bold-font;
        font-size: 72px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 26px;
        margin-bottom: 0px;
        line-height: normal;
    }
    &__text {
        color: #ffffff;
        font-size: 42px;
        @include regular-font;
        text-align: center;
        text-transform: uppercase;
        margin-top: 9px;
        line-height: normal;
    }
    &__divider {
        max-width: 810px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-top: 38px;
        margin-bottom: 28px;
        div {
            &:nth-child(1), &:nth-child(3) {
                width: 48%;
                height: 1px;
                background-color: #fff;
            }
            &:nth-child(2) {
                width: 10px;
                height: 10px;
                background-color: #fff;
                border-radius: 100%;
            }
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item {
           max-width: 250px;
           margin: 0 17px;
        }
    }
    &__container {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img {
        max-height: 100%;
    }
    &__descr {
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        text-align: center;
        margin-top: 10px;
        min-height: 135px;
    }
}